<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckx.gateway.mapper.RouteMapper">
    <!--获取路由列表-->
    <select id="getRouteList" resultType="com.ckx.gateway.entity.Route">
        SELECT route_id AS routeId,uri,sort_index AS sortIndex,predicate_json AS predicates,filter_json AS filters,flag FROM test.gateway_dynamic_route
    </select>

    <!--新增路由-->
    <insert id="insertRoute">
        insert into gateway_dynamic_route(route_id,uri,sort_index,predicate_json,filter_json,flag)
        values(#{routeId},#{uri},#{sortIndex},#{predicates},#{filters},#{flag})
    </insert>

    <!--更新路由-->
    <update id="updateRoute">
        update gateway_dynamic_route set uri=#{entity.uri},sort_index=#{entity.sortIndex},predicate_json=#{entity.predicates},filter_json=#{entity.filters},enable=#{entity.flag}
        where route_id = #{routeId}
    </update>

</mapper>